@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Сервис погоды!</h1>
    <h2>@ViewData["Error"]</h2>
    
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <input id="search" placeholder="Введите название Города" name="search" type="text" style="padding: 5px 20px; margin-left: 20px; width: 244px;" />
        <button id="search-button" type="submit" class="btn btn-light">Поиск</button>
    }
</div>
